<section class="fruits section">
    <div class="container">
       <h2 class="fruits-title title">ORGANIC FRUITS</h2>
       <p class="fruits-text">Our organic fruits are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible. We offer a wide selection of organic fruits grown without the use of harmful pesticides or chemicals.</p>
       <ul class="fruits-list list">
           <li class="fruits-item">
               <div class="fruits-card">
                   <h3 class="fruits-card-title">Strawberry</h3>
                   <p class="fruits-card-text">Plant</p>
                   <img
                       srcset="../img/fruits/img-1@1x.png 1x, ../img/fruits/img-1@2x.png 2x"
                       src="../img/fruits/img-1@1x.png" alt="Strawberry" width="295"> 
                   <p class="fruits-price">100 UAH &#47; kg</p>
               </div>
           </li>
           <li>
               <div class="fruits-card">
                   <h3 class="fruits-card-title">Banana</h3>
                   <p class="fruits-card-text">Plant</p>
                   <img
                       srcset="../img/fruits/img-2@1x.png 1x, ../img/fruits/img-2@2x.png 2x"
                       src="../img/fruits/img-2@1x.png" alt="Banana" width="295"> 
                   <p class="fruits-price">80 UAH &#47; kg</p>
               </div>
           </li>
           <li>
               <div class="fruits-card">
                   <h3 class="fruits-card-title">Watermelon</h3>
                   <p class="fruits-card-text">Plant</p>
                   <img
                        srcset="../img/fruits/img-3@1x.png 1x, ../img/fruits/img-3@2x.png 2x"
                        src="../img/fruits/img-3@1x.png" alt="Watermelon" width="295"> 
                   <p class="fruits-price">40 UAH &#47; kg</p>
               </div>
           </li>
           <li>
               <div class="fruits-card">
                   <h3 class="fruits-card-title">Lime</h3>
                   <p class="fruits-card-text">Plant</p>
                   <img
                        srcset="../img/fruits/img-4@1x.png 1x, ../img/fruits/img-4@2x.png 2x"
                        src="../img/fruits/img-4@1x.png" alt="Lime" width="295"> 
                   <p class="fruits-price">60 UAH &#47; kg</p>
               </div>
           </li>
           <li>
               <div class="fruits-card">
                   <h3 class="fruits-card-title">Apple</h3>
                   <p class="fruits-card-text">Plant</p>
                   <img
                        srcset="../img/fruits/img-5@1x.png 1x, ../img/fruits/img-5@2x.png 2x"
                        src="../img/fruits/img-5@1x.png" alt="Apple" width="295"> 
                   <p class="fruits-price">50 UAH &#47; kg</p>
               </div>
           </li>
           <li>
               <div class="fruits-card">
                   <h3 class="fruits-card-title">Peach</h3>
                   <p class="fruits-card-text">Plant</p>
                   <img
                        srcset="../img/fruits/img-6@1x.png 1x, ../img/fruits/img-6@2x.png 2x"
                        src="../img/fruits/img-6@1x.png" alt="Peach" width="295"> 
                   <p class="fruits-price">80 UAH &#47; kg</p>
               </div>
           </li>
           <li>
               <div class="fruits-card">
                   <h3 class="fruits-card-title">Plums</h3>
                   <p class="fruits-card-text">Plant</p>
                   <img
                        srcset="../img/fruits/img-7@1x.png 1x, ../img/fruits/img-7@2x.png 2x"
                        src="../img/fruits/img-7@1x.png" alt="Plums" width="295"> 
                   <p class="fruits-price">40 UAH &#47; kg</p>
               </div>
           </li>
           <li>
               <div class="fruits-card">
                   <h3 class="fruits-card-title">Orange</h3>
                   <p class="fruits-card-text">Plant</p>
                   <img
                        srcset="../img/fruits/img-8@1x.png 1x, ../img/fruits/img-8@2x.png 2x"
                        src="../img/fruits/img-8@1x.png" alt="Orange" width="295"> 
                   <p class="fruits-price">60 UAH &#47; kg</p>
               </div>
           </li>
           <li>
               <div class="fruits-card">
                   <h3 class="fruits-card-title">Kiwi</h3>
                   <p class="fruits-card-text">Plant</p>
                   <img
                        srcset="../img/fruits/img-9@1x.png 1x, ../img/fruits/img-9@2x.png 2x"
                        src="../img/fruits/img-9@1x.png" alt="Kiwi" width="295"> 
                   <p class="fruits-price">90 UAH &#47; kg</p>
               </div>
           </li>
           
       </ul>
       <button class="fruits-btn" type="button">ORDER
           <svg class="fruits-btn-icon" width="14" height="14">
             <use href="../img/icons.svg#icon-arrow"></use>
           </svg>
       </button>
   </div>
</section>