<section class="hero">
  <div class="hero-container container">
    <h1 class="hero-title">
      fresh harvest box<br />is your one-stop place for a delicious fruit basket
    </h1>

    <div class="img-wrap">
      <div class="inner">
        <picture>
          <source
            media="(min-width: 734px)"
            srcset="
              ./img/hero/hero-large@1x.jpg 1x,
              ./img/hero/hero-large@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 733px)"
            srcset="
              ./img/hero/hero-small@1x.jpg 1x,
              ./img/hero/hero-small@2x.jpg 2x
            "
          />
          <img
            src="./img/hero/hero-small@1x.jpg"
            alt="girl holding an orange"
            width="311"
            height="484"
            loading="lazy"
          />
        </picture>
      </div>
      <a class="hero-anchor" href="#organic-fruits"><span>shop now</span></a>
    </div>

    <div class="hero-element-left">
      <p class="hero-element-text">
        Our expertly curated fruit baskets are made with the freshest, highest
        quality fruits available. Whether you are looking for a healthy snack or
        a gift for a loved one, Fresh Harvest Box has got you covered.
      </p>

      <div class="hero-fruit watermelon">
        <h2 class="hero-fruit-title">Fruit</h2>
        <img
          class="hero-fruit-element"
          srcset="
            ./img/hero/watermelon@1x.png 1x,
            ./img/hero/watermelon@2x.png 2x
          "
          src="./img/hero/watermelon@1x.png"
          alt="watermelon fruit"
          width="239"
          height="172"
        />
        <p class="element-text">
          Refreshing and juicy, watermelon is the perfect summer treat and a
          great source of hydration
        </p>
      </div>
    </div>
    <div class="hero-element-right">
      <ul class="feature-hero list">
        <li class="hero-item"><h3 class="item-title">&#35;organic</h3></li>
        <li class="hero-item"><h3 class="item-title">&#35;products</h3></li>
        <li class="hero-item"><h3 class="item-title">&#35;basket</h3></li>
        <li class="hero-item"><h3 class="item-title">&#35;fruits</h3></li>
      </ul>

      <div class="hero-fruit strawberry">
        <h2 class="hero-fruit-title strawberry">Fruit</h2>
        <img
          class="hero-straw-element"
          srcset="
            ./img/hero/basket-straw@1x.png 1x,
            ./img/hero/basket-straw@2x.png 2x
          "
          src="./img/hero/basket-straw@1x.png"
          alt="basket with strawberries"
          width="239"
          height="187"
        />
        <p class="element-text strawberry">
          Sweet and juicy, strawberries are packed with vitamin C and
          antioxidants, making them a delicious and healthy snack
        </p>
      </div>
    </div>
  </div>
</section>
