<div data-modal="order">
  <div class="container-order modal">
    <button
      class="close-btn js-modal-close"
      type="button"
      aria-label="close-icon"
      data-modal-close
    >
      <svg class="close-icon" width="14" height="14">
        <use href="/img/icons.svg#icon-x-tabdesk"></use>
      </svg>
    </button>
    <h2 class="order-title">YOUR ORDER</h2>
    <form class="order-form" name="basket-form">
      <!-- Basket cards -->
      <div class="basket-cards">
        <div class="basket-card">
          <input
            class="basket-checkbox"
            type="checkbox"
            name="strawberry-basket"
            id="strawberry-basket"
            required
          />
          <label class="basket-label" for="strawberry-basket"
            >Strawberry Basket</label
          >
          <p class="basket-plant">Plant</p>
          <img
            srcset="
              /img/modal-order/strawberry.png    1x,
              /img/modal-order/strawberry@2x.png 2x
            "
            src="/img/modal-order/strawberry.png"
            alt="Strawberry Basket"
            width="173"
            height="196"
          />
        </div>
        <div class="basket-card">
          <input
            class="basket-checkbox"
            type="checkbox"
            name="apple-basket"
            id="apple-basket"
            required
          />
          <label class="basket-label" for="apple-basket">Apple Basket</label>
          <p class="basket-plant">Plant</p>
          <img
            srcset="
              /img/modal-order/apple.png    1x,
              /img/modal-order/apple@2x.png 2x
            "
            src="/img/modal-order/apple.png"
            alt="Apple Basket"
            width="229"
            height="196"
          />
        </div>
        <div class="basket-card">
          <input
            class="basket-checkbox"
            type="checkbox"
            name="fruits-basket"
            id="fruits-basket"
            required
          />
          <label class="basket-label" for="fruits-basket">Fruits Basket</label>
          <p class="basket-plant">Plant</p>
          <img
            srcset="
              /img/modal-order/fruits.png    1x,
              /img/modal-order/fruits@2x.png 2x
            "
            src="/img/modal-order/fruits.png"
            alt="Fruits Basket"
            width="229"
            height="196"
          />
        </div>
      </div>
      <!-- Customer data input -->
      <div>
        <input
          class="modal-form-input"
          type="text"
          name="full_name_client"
          minlength="2"
          placeholder="Enter full name..."
          required
        />
      </div>
      <div>
        <input
          class="modal-form-input"
          type="email"
          name="client_mail"
          pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
          placeholder="Enter email..."
          required
        />
      </div>
      <div>
        <input
          class="modal-form-input"
          type="text"
          name="banking_card"
          pattern="[0-9]{16}"
          title="Enter 16 numbers"
          placeholder="Enter card.."
          required
        />
      </div>
      <textarea
        class="modal-form-textarea"
        name="client_message"
        rows="5"
        placeholder="Enter comments..."
      ></textarea>
      <button class="submit-btn" type="submit">Submit</button>
    </form>
    <picture class="girl">
      <img
        srcset="/img/modal-order/girl.png 1x, /img/modal-order/girl@2x.png 2x"
        src="/img/modal-order/girl.png"
        alt="Girl with bananas"
        width="469"
        height="467"
      />
    </picture>
  </div>
</div>
