<div class="thank thx-modal">
  <button
    type="button"
    class="thank-btn close-btn"
    aria-label="close thanks button"
  >
    <svg class="thank-x" width="24px" height="24px">
      <use href="./img/icons.svg#icon-x-mobile"></use>
    </svg>
    <svg class="thank-x-tab" width="28px" height="28px">
      <use href="./img/icons.svg#icon-x-tabdesk"></use>
    </svg>
  </button>
  <picture>
    <source
      media="(min-width: 768px)"
      srcset="
        ./img/modal-thx/rasp_tab@1x.avif 1x,
        ./img/modal-thx/rasp_tab@2x.avif 2x
      "
      type="image/avif"
    />
    <source
      media="(min-width: 768px)"
      srcset="
        ./img/modal-thx/rasp_tab@1x.png 1x,
        ./img/modal-thx/rasp_tab@2x.png 2x
      "
      type="image/png"
    />
    <source
      srcset="
        ./img/modal-thx/rasp_mob@1x.avif 1x,
        ./img/modal-thx/rasp_mob@2x.avif 2x
      "
      type="image/avif"
    />
    <source
      srcset="
        ./img/modal-thx/rasp_mob@1x.png 1x,
        ./img/modal-thx/rasp_mob@2x.png 2x
      "
      type="image/png"
    />
    <img
      class="thank-img"
      src="./img/modal-thx/rasp_mob@1x.png"
      alt="raspberry"
      width="278"
      height="239"
      loading="lazy"
    />
  </picture>
  <!-- 
  <img
    class="thank-img"
    srcset="
      ./img/modal-thx/rasp_mob@1x.png 207w,
      ./img/modal-thx/rasp_tab@1x.png 278w,
      ./img/modal-thx/rasp_mob@2x.png 414w,
      ./img/modal-thx/rasp_tab@2x.png 556w
    "
    sizes="(min-width: 768px) 278px, (min-width: 375px) 207px,(min-width: 320px) 207px, 100vw "
    src="./img/modal-thx/rasp_mob@1x.png"
    alt="raspberry"
    width="278"
    height="239"
    loading="lazy"
  /> -->
  <div class="thank-words">
    <h2 class="thank-head">THANK YOU</h2>
    <p class="thank-text">
      Thank you for your order! Our team is preparing your box with fresh,
      delicious fruits and vegetables, and we'll deliver it straight to your
      doorstep. We appreciate your business and look forward to providing you
      with the best possible experience!
    </p>
  </div>
</div>
