<section class="hiw" id="works">
  <div class="container">
    <h2 class="hiw-main">
      To order your fruit basket, simply follow these easy steps
    </h2>
    <p class="hiw-text">
      Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home. Whether you're looking for a healthy snack or a thoughtful gift, our fruit baskets are the perfect choice.
    </p>
    <ul class="hiw-list">
      <li class="hiw-card">
        <h3 class="step">FIrst Step</h3>
        <p class="step-item">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </li>
      <li class="hiw-card">
        <h3 class="step">Second Step</h3>
        <p class="step-item">Click on the basket and fill out the form.</p>
      </li>
      <li class="hiw-card">
        <h3 class="step">Third Step</h3>
        <p class="step-item">
          Sit back and relax! Your fresh fruit basket will be delivered.
        </p>
      </li>
    </ul>
    <div class="thumb">
      <img
        class="hiw-img"
        src="./img/works/hiw.gif"
        alt="Fruit preview"
        width="860"
        height="476"
        loading="lazy"
      />
    </div>
  </div>
</section>
