:root {
  --prime-text-color: #ffffff;
  --second-text-color: #000000;
  --brand-color: #ae1332;

  --body-bg: #ae1332;
  --second-bg: #ffffff;

  --card-accent-color: #a4cb66;
  /* для секції воркс переоприділити цю змінну */
  --card-second-accent-color: #f5ce13;

  --card-fruits: #f8766b;
  /* для кожної картки переоприділити окремо */

  --active-icon: rgba(174, 19, 50, 0.1);
  --fruits-btn: #9dc262;
  --form-btn: #9dc162;

  --bg-modal-thx: #e03f5e;
}

body {
  font: 400 14px/1.29 'DM Sans', sans-serif;
  letter-spacing: -0.04em;
  color: var(--prime-text-color);
  background-color: var(--body-bg);
}

section {
  margin-bottom: 80px;
}
@media only screen and (min-width: 734px) {
  section {
    margin-bottom: 144px;
  }
}
@media only screen and (min-width: 1246px) {
  section {
    margin-bottom: 150px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  min-width: 320px;
  max-width: 365px;
}

@media only screen and (min-width: 734px) {
  .container {
    max-width: 734px;
  }
}

@media only screen and (min-width: 1246px) {
  .container {
    max-width: 1246px;
  }
}

svg {
  fill: currentColor;
}
