.footer-section{
    background: var(--second-bg);
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-img{
border-radius: 100px;
margin-bottom: 20px;
}



.footer-logotip{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}
.icon-logo{
    color:var(--brand-color);

}

.footer-logo{
    font-weight: 700;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color:var(--brand-color);
}

.footer-navigation{
       margin-bottom: 44px; 
}
.footer-nav-list {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.footer-nav-item{
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: var(--brand-color);
}


.footer-soc-icon-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 44px;
}


.footer-soc-icon-item{
    width: 40px;
    height: 40px;
}

.footer-soc-icon-link{
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-radius: 10px;
    border-color: var(--brand-color);
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-soc-icon-link:is(:hover, :focus){
    background: rgba(174, 19, 50, 0.1);
}
.footer-soc-icon{
    fill:var(--brand-color);
    align-items: center;
}
.footer-contacts-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.footer-contacts,.footer-contacts-address{
    color: var(--brand-color);
    font-style: normal;
}
.footer-contacts-address{
    max-width: 130px;
    text-align: center;
}
