
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* 375px;
- tablet: 768px;
- desktop: 1280px */
/* ------------------------------------ */
.container-order {
    border-radius: 20px;
    background-color: var(--second-bg);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(100vw, 335px);
    min-height: max-content;
    max-height: 100vh;
    padding: 20px;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 20;
}
@media only screen and (min-width: 768px) {
    .container-order {
        width: 704px;
        padding: 0;
        background-image: 
        url(../img/modal-order/girl.png);
        background-repeat: no-repeat;
        background-size: 469px 467px;
        background-position: left 414px bottom;
    }
}
@media only screen and (min-width: 1280px) {
    .container-order {
        width: 891px;
        background-image: 
        url(../img/modal-order/girl.png);
        background-size: 471px 458px;
        background-position: right bottom;
    
    }
}
.container-order.active {
    opacity:1;
    visibility: visible;
    pointer-events: initial;
} 
label {
    user-select: none;
}
.close-btn {
    display: flex;
    margin-left: auto;
    background-color: transparent;
    border: none;
}
@media only screen and (min-width: 768px), (min-width: 1280px) {
    .close-btn {
        margin-top: 20px;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 767px) {
    .close-icon {
        position: absolute;
        width: 24px;
        height: 24px;
        margin: auto;
        right: 20px;
    }
}

.order-title {
    display: flex;
    align-items: center;
    color: var(--brand-color);
    width: auto;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px), (min-width: 1280px) {
    .order-title {
        margin-left: 40px;
        font-size: 40px;
        line-height: 1.1;
        text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    }
    .order-form {
        padding: 40px;
    }
}
.basket-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px;
    margin-top: 30px;
    margin-bottom: 40px;
    }
@media only screen and (min-width: 768px) {
    .basket-cards {
        flex-direction: row;
        margin-top: 0;
        }
}
@media only screen and (min-width: 1280px) {
    .basket-cards {
        gap: 20px;
        margin-top: 0;
    }
}

.check-mark-frame {
    display: flex;
    width: 30px;
    height: 16px;
    border: 1.5px solid var(--prime-text-color);
    border-radius: 4px;
    margin-left: auto;
    order: 1;
}
@media only screen and (min-width: 768px), (min-width: 1280px) {
    .check-mark-frame {
        width: 20px;
        height: 20px;
        margin-left: auto;
        order: 0;
    }
}
.check-mark {
    opacity: 0;
    margin: auto;
}
.basket-checkbox:checked ~ .check-mark-frame .check-mark {
    opacity: 1;
}
.basket-label {
    display: flex;
    /* flex-basis: calc((100% - 24px) / 3); */
    width: 295px;
    height: 119px;
    border-radius: 20px;
    background-color: #EDD251;
    padding: 14px;
}
@media only screen and (min-width: 768px) {
    .basket-label {
            display: block;
            width: 200px;
            height: 250px;
            }
}
@media only screen and (min-width: 1280px) {
    .basket-label {
        display: block;
        width: 257px;
        height: 308px;
        }
}
.basket-label:first-child {
    background-color: var(--card-fruits);
}
.basket-label:last-child {
    background-color: var(--fruits-btn);
}
.basket-text {
    display: block;
    max-width: 186px;
}
.label-h {
    margin: 6px 5px 2px 6px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;

}
@media only screen and (min-width: 768px) {
    .label-h {
    margin: 6px 0 2px 6px;
   
    }
}
@media only screen and (min-width: 1280px) {
    .label-h {
    margin: 6px 0 8px 6px;
    font-size: 24px;
    line-height: 1.17;
    
    }
}

.basket-plant {
    margin-left: 6px;
    margin-right: 105px;
    letter-spacing: -0.02em;
}
.basket-img {
    display: flex;
    justify-content: center;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
    .basket-img-straw {
        display: flex;
        max-width: 133px;
        max-height: 148px;
        margin: auto;
        justify-content: center;
    }
}
.modal-input-client {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

.modal-form-input {
    color: var(--second-text-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 24px;
    width: 295px;
    height: 46px;
    margin-bottom: 14px;
    opacity: 0.3;
    border: 1px solid var(--second-text-color);
    border-radius: 100px;
}
@media only screen and (min-width: 768px) {
    .modal-form-input {
        width: 360px;
        height: 48px;
    }
}
.modal-form-input::placeholder{
    color: black;
    opacity: 0.5;
    
}
.modal-form-input:focus,
.modal-form-textarea:focus {
    border: 1px solid rgb(255, 255, 255, 0.3);
    opacity: 1;
    /* outline: transparent; */
}
.modal-form-input:invalid:not(:placeholder-shown) {
    outline: 2px solid red;
    border: 1px solid transparent;
}

.modal-form-input:valid:not(:placeholder-shown) {
    outline: 2px solid green;
    border: 1px solid transparent;
}


.modal-form-textarea {
    width: 295px;
    height: 132px;
    resize: none;
    margin-bottom: 20px;
    opacity: 0.3;
    border: 1px solid var(--second-text-color);
    border-radius: 20px;
    padding: 15px 24px;
}
@media only screen and (min-width: 768px) {
    .modal-form-textarea {
        width: 360px;
        height: 145px;
    }
}
.submit-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 35px;
    border: none;
    width: 114px;
    height: 48px;
    background: var(--form-btn);
    border-radius: 100px;
    text-transform: capitalize;
    color: var(--prime-text-color);
    /* transition: color 250ms ease-in, background 250ms ease-in; */
}

