.thank.modal {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.thank {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 290px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--bg-modal-thx);


}

@media only screen and (min-width: 375px) {
    .thank {
        width: 335px;
    }
}

@media only screen and (min-width: 734px) {
    .thank {
        width: 600px;
    }
}

.thank-btn {
    display: block;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
}

@media only screen and (min-width: 734px) {
    .thank-btn {
        width: 28px;
        height: 28px;
    }
}

.thank-x {
    display: inline-block;
}

@media only screen and (min-width: 734px) {
    .thank-x {
        display: none;
    }
}

.thank-x-tab {
    display: none;
}



@media only screen and (min-width: 734px) {
    .thank-x-tab {
        display: inline-block;
    }
}

.thank-img {
    margin: 0 auto 28px auto;
}

.thank-words {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 335px;
}


@media only screen and (min-width: 734px) {
    .thank-words {
        max-width: 391px;
    }
}

.thank-head {
    margin-right: auto;
    margin-bottom: 14px;
    margin-left: auto;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);

    font-size: 28px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
}

@media only screen and (min-width: 734px) {
    .thank-head {
        font-size: 40px;
        line-height: 1.1;
    }
}

.thank-text {
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    text-align: center;
}